#wrapper {
	position: absolute; 
	z-index: 1;
	width: 100%;
	height: 1370px;
	overflow: auto;
	margin-top: 10px;
}

#scroller {
	position: absolute; 
	z-index: 1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	padding: 0;
}

.attraction-list {
	margin: 0;
	padding: 0;
	/*list-style: none;*/
}

.attraction-list li {
	width: 100%;
	height: 0px;
	display: none;
	padding: 10px 10px;
}

.attraction-list li h2 {
	margin-top: 0px;
	margin-bottom: 10px;
}

.attraction-list li p {
	margin-top: 10px;
	margin-bottom: 0px;
}



.history {
	background-color: #F0E68C;
	border-top: 1px solid #FFFFBF;
	border-bottom: 1px solid #A49A40;
	
}

.dining {
	background-color: #87CEEB;
	border-top: 1px solid #A1E8FF;
	border-bottom: 1px solid #3B829F;
}

.nature {
	background-color: #90EE90;
	border-top: 1px solid #C3FFC3;
	border-bottom: 1px solid #2A882A;
}

.entertainment {
	background-color: #FF6347;
	border-top: 1px solid #FF967A;
	border-bottom: 1px solid #CC3014;
}

.shopping {
	background-color: #DDA0DD;
	border-top: 1px solid #F7BAF7;
	border-bottom: 1px solid #773A77;
}
