/* Content List */
.carousel{
	/*width: 100%;*/
	width: 1000px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding-top:40px;
	background-color:;
}

.background {
	width:1000px;
	height:1108.23px;
	margin:0 auto;
	display:block;
	background-image: url('../assets/svg/background.svg');
	background-size:1000px 1108.23px;

}

.carousel1{
	width: 1000px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}


.navigation-bar{
	margin:0 auto;
	height: 12px;
	width:60px;
	margin-top:20px;
	background-color:;
}

.navigation-bar div{
}


.navigation-bar .nav-circle {
	width: 12px;
	height: 12px;

	margin: 0px 9px;

	display: inline-block;
	float: right;

	background-color: #BBB;
	border-radius: 6px;
}

.nav-circle.highlight {
	background-color: #e02826 !important;
}

.container-list {
	width: 2000px;
	/*height: 1835px;*/
	margin-top: 30px;

	position: relative;
	left: 0px;
}

.container {
	padding-top:80px;
	width: 1000px;
	/*height: 1835px;*/

	display: inline-block;
	float: right;
}

.container1 {
	display:none;
}

#swipe-hand {
	position: absolute;
	bottom: 8px;
	right: 8px;
}
/* END Content List */