/* Content List */
.carousel{
	/*width: 100%;*/
	width: 1080px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.navigation-bar {
	height: 82px;
	margin:0 auto;
}

.navigation-bar .nav-container {
	height: 12px;
	padding: 35px;
}

.navigation-bar .nav-circle {
	width: 12px;
	height: 12px;

	margin: 0px 9px;

	display: inline-block;
	float: right;

	background-color: #BBB;
	border-radius: 6px;
}

.nav-circle.highlight {
	background-color: #666 !important;
}

.container-list {
	width: 2160px;
	/*height: 1835px;*/
	margin-top: 0px;

	position: relative;
	left: 0px;
}

.container {
	width: 1080px;
	/*height: 1835px;*/

	display: inline-block;
	float: right;
}

.container1 {
	display:none;
}

#swipe-hand {
	position: absolute;
	bottom: 8px;
	right: 8px;
}
/* END Content List */