#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	
}

.menu-bar {
	width: 100%;
	margin: 0 auto;
	padding: 0 0;
	background-color: #37a85c;
}

.menu-bar .menu-bar-wrapper {
	height: 100px;
	text-align: center;
}

.menu-bar #placeholder {
	height: 100%;
	width: 200px;
	margin: 0 0px;
	float: left;
	padding-top:0px;
	background-color:#3CB666;
}

.menu-bar #placeholder:hover{
	background-color:#26A261;
}

.back {
	width:100%;
	font-family:helvetica;
	font-weight:900;
	color:white;
	margin:0 auto;

	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	
}

.menu-bar #title {
	height: 100%;

	font-size: 52px;
	font-weight: 900;

	color: white;
	display: inline-block;

	margin: 0 auto;
}

.menu-bar .menu-button {
	width: 51px;

	border: 1px solid #37a85c;
	/*border-radius: 3px;*/

	float: right;
	margin: 0 20px;

	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.menu-button:hover {
	background-color: #37C85F;
	width: 51px;
	border: 1px solid #37885A;

	box-shadow: 0px 0px 1px #555;

	background: -webkit-linear-gradient(#37C85F, #37a85c); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#37C85F, #37a85c); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#37C85F, #37a85c); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#37C85F, #37a85c); /* Standard syntax */

	cursor: pointer;
}

.menu-button .white-line {
	height: 4px; 
	width: 100%;
	background-color: white;
	margin: 5px 0;
}

.nav-dropdown {
	background-color: #198A3E;

	width: 100%;
	height: 0px;

	margin-top: 10px;
	padding: 5px 0;
	display: none;
	/*box-shadow: inset 0 0 4px #444;*/
}

.nav-dropdown ul {
	margin: 0 auto;

	padding-left: 0;
	padding-right: 0;
}

.nav-dropdown ul li {
	list-style: none;
	/*float: left;*/

	color: white;
}