/* This is the header element, all things near the top should be contained here */
#header {
	width: 100%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight:300;
	color:#808284;
}

/* This div contains all the date/time <span> elements. */
#clock {
	padding-top: 50px;
	margin-bottom: 30px;

	text-align: center;

	height: 70px;
	width: 100%;
	font-size: 30px;
	

	position: relative;
}

/* mm/dd/yy */
.date {
	position: absolute;
	left: 0;
	bottom: 0;
	color:#808284;

	padding-bottom: 7px;
	padding-left: 150px;
}

/* 00:00 am */
.time {
	font-size: 60px;
}

/* Just in case we want the colon to blink */
#colon {

}

/* The am/pm text is smaller than the clock numbers. */
#am_pm {
	font-size: 30px;
}

/* e.g. 'wednesday' */
.dayofweek {
	
	position: absolute;
	right: 40px;
	bottom: 0;

	padding-bottom: 7px;
	padding-right: 70px;
}

.separator {
	width: 100%;
	height: 4px;

	background-color: #bbb;
}