/* Content List */
.carousel{
	/*width: 100%;*/
	width: 1080px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding-top:100px;
	background-color:;
}

.navigation-bar {
	height: 82px;
	margin:0 auto;
}

.navigation-bar .nav-container {
	height: 12px;
	padding: 35px;
	background-color:;
	margin-right:370px;
	margin-top:-100px;
}

.navigation-bar .nav-number {
	width: 43px;
	height: 43px;

	margin: 0px 9px;

	display: inline-block;
	float: right;
	text-align:center;

	background-color: #9ad6ec;
	border-radius: 2px;
}

.num{
	font-family:helvetica;
	font-weight: 600;
	color:white;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.nav-number.highlight {
	background-color: #e02826 !important;
}

.container-list {
	width: 4320px;
	height:1510px;
	/*height: 1835px;*/
	margin-top: 20px;

	position: relative;
	left: 0px;
}

.container {
	width: 1080px;
	height:1500px;
	/*height: 1835px;*/

	display: inline-block;
	float: right;

}
.container img{
	width:85%;
	height:45%;

	margin-left: 80px;
	margin-right: auto;
}

.game-container{
	margin:0 auto;
	width:1080px;
	background-color:;
}

.game-container div{
	width:85%;
	margin:0 auto;
	padding-top:4%;
}

#game img {
	width:100%;
	margin:0 auto;
}

.cta-container{
	margin:0 auto;
	width:1080px;
	background-color:red;
}

.cta {
	margin:0 auto;
	width:50%;
	background-color:blue;
}
.cta div{
	width:45%;
	float:left;
	margin-left:7px;
	margin-top:70px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	padding-left:10px;

	text-align:center;
	font-family:helvetica;
	font-weight:900;
	font-size:15px;
	color:white;
	border-radius:5px;
	background-color:#ee3d3b;
}

#email:hover{
	background-color:#ef4b4c;
	cursor:pointer;
}

#banker:hover{
	background-color:#ef4b4c;
	cursor:pointer;
}




#swipe-hand {
	position: absolute;
	bottom: 8px;
	right: 8px;
}




/* END Content List */