/* Content List */
.carousel{
	/*width: 100%;*/
	width: 1080px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding-top:100px;
	background-color:;
}

.navigation-bar {
	height: 82px;
	margin:0 auto;
}

.navigation-bar .nav-container {
	height: 12px;
	padding: 35px;
	background-color:;
	margin-right:370px;
	margin-top:-100px;
}

.navigation-bar .nav-number {
	width: 43px;
	height: 43px;

	margin: 0px 9px;

	display: inline-block;
	float: right;
	text-align:center;

	background-color: #4AD875;
	border-radius: 2px;
}

.num{
	font-family:helvetica;
	font-weight: 600;
	color:white;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.nav-number.highlight {
	background-color: #26A261 !important;
}

.container-list {
	width: 4320px;
	height:1510px;
	/*height: 1835px;*/
	margin-top: 20px;

	position: relative;
	left: 0px;
}

.container {
	width: 1080px;
	height:1500px;
	/*height: 1835px;*/

	display: inline-block;
	float: right;
}
.container img{
	width:85%;
	height:45%;

	margin-left: 80px;
	margin-right: auto;
}

#swipe-hand {
	position: absolute;
	bottom: 8px;
	right: 8px;
}

.related-container{
	width:100%;
	height:500px;
	background-color:;
	bottom:100px;
	position:absolute;
	border-top:dotted 5px;
	border-color:#37a85c;
}

.related-object{
	width:1080px;
	height:500px;
	background-color:;
	position:absolute;
	margin-left:50px;
	float:left;
}

#relatedTitle {
	font-family:helvetica;
	font-weight:100;
	font-size:30px !important;
	color:#37a85c;
	margin:0 auto;
	margin-top:50px;
}

.related-object div{
	float:left;
	width:192px;
	background-color:;
	margin:0 auto;
	text-align:center;
	margin-top:60px;
	margin-left:130px;
}

.related-object img{
	width:192px;
	height:162px;
}

.related-object h2{
	font-family:helvetica;
	font-weight:600;
	font-size:20px !important;
	color:#37a85c;
}



/* END Content List */