*{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
}

#home {
	width: 1200px;
	height: 1920px;
	margin: 0 auto;
	position: relative;

	background: -webkit-linear-gradient(#ddd, #fff, #ddd); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ddd, #fff, #ddd); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ddd, #fff, #ddd); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ddd, #fff, #ddd); /* Standard syntax */
}

/* This is the "How can we help you?" title */
#home h1 {
	font-size: 60px;
	color: #198A3E;
	text-align: center;
	margin-bottom: 20px;
}


.headBox h1 {
		font-family:helvetica;
		font-weight:900;
		font-size: 40px !important; 
		color: #198A3E;
		text-align: center;
		margin-bottom: 20px;
		background-color:white;
		width:400px;
		padding:20px;
		outline:black thick;

}


