.related-container{
	width:100%;
	height:500px;
	background-color:;
	bottom:100px;
	position:absolute;
	border-top:dotted 5px;
	border-color:#37a85c;
}

.related-object{
	width:1080px;
	height:500px;
	background-color:;
	margin:0 auto;
}

#relatedTitle {
	font-family:helvetica;
	font-weight:100;
	font-size:30px !important;
	color:#37a85c;
	margin:0 auto;
	margin-top:50px;
}

.related-object div{
	float:left;
	width:192px;
	background-color:;
	margin:0 auto;
	text-align:center;
	margin-top:60px;
	margin-left:130px;
}

.related-object img{
	width:192px;
	height:162px;
}

.related-object h2{
	font-family:helvetica;
	font-weight:600;
	font-size:20px !important;
	color:#37a85c;
}