/* 	This is a class for the children of an 'li'
	element in the six-block-menu. */
.li-container {
	display: inline-block;
	padding: 5px;
	background-color:white;
	border: solid 2px transparent;
	border-radius-bottom-left:6px;
	border-radius-bottom-left:6px;
}

/* 	If an Element has a 'left' class, that means
	that it is meant to appear on the left side
	of the six-block menu. */
.li-container.left {
	/*margin-left: auto;*/
	/*margin-right: 70px;*/
}

/* 	If an Element has a 'right' class, that means
	that it is meant to appear on the right side
	of the six-block menu. */
.li-container.right {
	/*margin-left: 70px;*/
	/*margin-right: auto;*/
}

.content-list {
	padding: 0;
	list-style-type: none;
	width: 100%;
	height:auto;
	margin: 0 auto;

	position: relative;
}

.content-list > li {
	margin-bottom: 15px;

	float: left;
	width: 50%;
	height: 30%;
	min-height: 340px;

	text-align: center;
}

/* This class is for <li> elements that will have
   their 'option-image' displayed on the top. */
.image-top {
	margin-bottom: 50px !important;
}

.image-top img {
	margin: 0 auto;
}

.image-top .well {
	padding-left: 10px;
	padding-right: 10px;
}

.image-top .option-text-container {
	width: 250px;
}

.image-top .option-image {
	display: block;
	height: 160px;
}

.image-top .option-text-wrapper {
	display: block;
	width: 240px;
}

.image-top .option-text-wrapper .option-title {
	text-align: center;
	margin-bottom: 2px;
}

.image-top .option-text-wrapper .option-content {
	border-top: dotted 3px #D1D2D4;
	padding: 7px 5px;
	margin-top: 0px;

	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

/* This class is for <li> elements that will have
   their 'option-image' displayed on the left. */
.image-left {
	position: relative;
}

.image-left .li-container {
	position: relative;
	height: 150px;
	width: 400px;
}

.image-left .absolute-container {
	position: absolute;
	height: 150px;
	width: 400px;
}

.image-left .image-container {
	height: 100%;
	width: 130px;
}

.image-left .option-image {
	height: 100px;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.image-left .option-text-container {
	height: 100%;
	width: 270px;

	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
}

.image-left .option-text-wrapper {
	display: inline-block;
	width: 260px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* These define the font and box size of the
   text and images in the menu items. */
.option-title {
	font-size: 20px;
	font-weight: bold;

	color: #ee3d3b;
	margin-bottom: 8px;

	text-align: left;
}

.option-content {
	font-weight: bold;
	font-size: 15px;

	margin-top: 8px;
	color:black;
	text-align: left;
}

/* The 'well' class just means that it
   turns grey on hover, or click. */
.well:hover {
	background-color: #DDDDDD;
	border-radius: 10px;
	border: solid 2px #BBBBBB;

	cursor: pointer;
}