/* 	This is a class for the children of an 'li'
	element in the six-block-menu. */
.li-container {
	display: inline-block;
	padding: 5px;
	border: solid 2px transparent;
}

/* 	If an Element has a 'left' class, that means
	that it is meant to appear on the left side
	of the six-block menu. */
.li-container.left {
	/*margin-left: auto;*/
	/*margin-right: 70px;*/
}

/* 	If an Element has a 'right' class, that means
	that it is meant to appear on the right side
	of the six-block menu. */
.li-container.right {
	/*margin-left: 70px;*/
	/*margin-right: auto;*/
}

.content-list {
	padding: 0;
	list-style-type: none;
	width: 100%;
	height:auto;
	margin: 0 auto;
}

.content-list li {
	margin-bottom: 15px;

	float: left;
	width: 50%;
	height: 30%;
	min-height: 340px;

	text-align: center;
}

.option-image {
	height: 100px;
	display: inline-block;
}

.option-text-holder {
	display: inline-block;

	width: 270px;

	position: relative;
	top: 0px;
}

.option-title {
	font-size: 20px;
	font-weight: bold;

	color: #ee3d3b;
	margin-bottom: 8px;

	text-align: left;
}

.option-content {
	font-weight: bold;
	font-size: 15px;

	margin-top: 8px;
	color:black;
	text-align: left;
}

.well:hover {
	background-color: #DDDDDD;
	border-radius: 10px;
	border: solid 2px #BBBBBB;

	cursor: pointer;
}