*{
	font-family: Arial, helvetica, sans-serif;
}

body {
	margin: 0;
	min-width: 1200px;
	height:1200px;

}

ul {
	list-style:none;
	float:right;
	width:100%;
}

.wrapper1 {
	display: inline-block;

	float: left;

	margin-left: auto;
	margin-right: 0px;

	padding: 5px;
	width: 600px;

	border: solid 2px transparent;
	background-color:orange;
}

.wrapper2 {
	display: inline-block;

	float: right;

	margin-left: 0px;
	margin-right: auto;

	padding: 5px;
	width: 600px;

	border: solid 2px transparent;
	background-color:orange;
}

.well:hover {
	background-color: #DDDDDD;
	border-radius: 10px;
	border: solid 2px #BBBBBB;

	cursor: pointer;
}



/* Header */
.title-bar {
	width: 1200px;
	margin: 0 auto;

	padding: 10px 0px;
	background-color: #37a85c;
}

.title-bar-wrapper {
	height: 65px;
	min-width: 750px;
	text-align: center;
}

.title-bar #placeholder {
	height: 100%;
	width: 65px;
	margin: 0 20px;
	float: left;
}

.title-bar #title {
	height: 100%;

	font-size: 50px;
	font-weight: bold;

	color: white;
	display: inline-block;

	margin: 0 auto;
}

.title-bar .menu-bars {
	width: 51px;

	border: 1px solid #37a85c;
	border-radius: 3px;

	padding: 15px 6px;

	float: right;
	margin: 0 20px;
}

.menu-bars:hover {
	background-color: #37C85F;
	width: 51px;
	border: 1px solid #37885A;

	box-shadow: 0px 0px 1px #555;

	background: -webkit-linear-gradient(#37C85F, #37a85c); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#37C85F, #37a85c); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#37C85F, #37a85c); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#37C85F, #37a85c); /* Standard syntax */

	cursor: pointer;
}

.menu-bars .white-line {
	height: 4px; 
	width: 100%;
	background-color: white;
	margin: 5px 0;
}

.nav-dropdown {
	background-color: #198A3E;

	width: 100%;
	height: 0px;

	padding: 5px 0;

	display: none;
	/*box-shadow: inset 0 0 4px #444;*/
}

.nav-dropdown ul {
	margin: 0 auto;

	padding-left: 0;
	padding-right: 0;
}

.nav-dropdown ul li {
	list-style: none;
	float: left;

	color: white;
}
/* END Header */




	.container-page1{
		width:87%;
		background-color:;
		margin-left:6%;
		margin-right:10%;
		margin-top:50px;
	}

	.container-page1 div{
		float:left;
	}

	.content {
		width:50%;
	
		background-color:;
	}

	.content div{
		margin-top:30px;
		float:left;
	}

	.half1 {
	
		width:30%;
		background-color:;
		position:relative;

	}

	.half2 {
		width:70%;
		background-color:;
		position:relative;
	
	}

	.half2Line {
		width:70%;
		background-color:;
		position:relative;
	}

	.option-title {
	font-family:helvetica;
	font-size: 30px;
	font-weight: 900;
	color: #37a85c;
	text-align: left;
	margin-top:-5px;
	width:90%;
}

	.option-image{
		width: 211px;
		height: 177.5px;
		background-color:;
		margin-right:9px;
	}


	.option-content {
		font-family:helvetica;
		font-weight:300;
		font-size:25px;
		color:black;
		text-align:left;
		margin-top:-5px;
		width:60%;
		height:188px;
	}

		.option-content2 {
		font-family:helvetica;
		font-weight:300;
		font-size:25px;
		color:black;
		text-align:left;
		margin-top:-10px;
		width:60%;
	}




.left-arrow {
	position: absolute;
	left: 0px;
	top: 50%;
}

.left-arrow:hover {
	cursor: pointer;
}

.right-arrow {
	position: absolute;
	right: 0px;
	top: 50%;
}

.right-arrow:hover {
	cursor: pointer;
}

	.carousel {
		width:100%;
		height:800px;
		background-color:;
	}

/* BEGIN Footer */
#footer {
	/*padding-top: 5px;
	padding-right: 20px;

	height: 86px;*/
	background-color: white;
	position:fixed;
}


.footer-bar {
	width: 1200px;
	margin: 0 auto;

	padding: 10px 0px;
	/*background-color: #37a85c;*/
}

.footer-bar-wrapper {
	height: 65px;
	min-width: 750px;
	text-align: center;
}

.slide-viewer{
	position:relative;
	overflow:hidden;
	height:485px;
}
.slide-group {
	width:100%;
	height:100%;
	position:relative;
}

.slide{
	width:100%;
	height:100%;
	display:none;
	position:absolute;
}

.slide:first-child{
	display:block;
}
/* END Footer */


